name: CI-frontend

on:
  push:
    branches:
      - "main"
      - "develop"
  pull_request:
    branches:
      - "main"
      - "develop"

jobs:
  build-and-push:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "npm"
          cache-dependency-path: ./frontend/package-lock.json

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test -- --passWithNoTests

      - name: Build
        run: npm run build

      - name: Login to harbor
        uses: docker/login-action@v3
        with:
          registry: localhost
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}

      - name: Build and push docker image
        run: |
          TAG=${{ github.ref_name}}
          [ "$TAG" == "main" ] && TAG="latest"

          IMAGE_PATH="localhost/devops-project/frontend

          docker build -t $IMAGE_PATH:$TAG ./frontend
          docker push $IMAGE_PATH:$TAG

      - name: Cleanup old images
        if: always()
        run: |
          docker image prune -f
